body{
    background-color:antiquewhite ;
    
}
.gallery{
    padding: 0;
    max-width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-left: 40px;
    margin-right: 40px;
    /* object-fit:contain ; */
    /* gap:20px  */
}   
.gallery-item{
    object-fit: contain;
   max-width: calc(100% / 3 - 10px) ;
   margin: 0 ;
}

.gallery-image{
    max-width: 100%;
}